{{ define "header" }}
  <header>
    <div class="bg-black">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}

{{ define "main" }}
  <div class="flex-l mw8 center ph3 flex-wrap justify-between">
    <header class="mt4 w-100">
      <h1 class="f2 f-subheadline-l fw2 black-80 mb0 lh-title">Engineering Leadership</h1>
    </header>
    <div class="nested-copy-line-height lh-copy serif f4 nested-links mid-gray pr4-l w-two-thirds-l">
      {{ .Content }}
      
      <section class="mt5">
        <h2 class="f3 fw4 pa0 mv3">Recent Posts</h2>
        <ul class="list pl0">
          {{ range first 10 (where .Site.RegularPages "Type" "posts") }}
          <li class="mb3">
            <a href="{{ .Permalink }}" class="db pv1 link blue dim">
              <span class="fw6">{{ .Title }}</span>
              <span class="db f6 gray">{{ .Date.Format "January 2, 2006" }}</span>
            </a>
          </li>
          {{ end }}
        </ul>
      </section>
    </div>
  </div>
{{ end }}