{{ define "header" }}
  <header>
    <div class="bg-black">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}

{{ define "main" }}
  <div class="flex-l mw8 center ph3 flex-wrap justify-between">
    <header class="mt4 w-100">
      <h1 class="f2 f-subheadline-l fw2 black-80 mb0 lh-title">{{ .Title }}</h1>
    </header>
    <div class="nested-copy-line-height lh-copy serif f4 nested-links mid-gray pr4-l w-two-thirds-l">
      {{ .Content }}

      {{ partial "email-signup.html" . }}
    </div>
  </div>
{{ end }}